In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import openpyxl

In [12]:
df = pd.read_excel('HC 2.9.xlsx')
print(df)

                         Data release date: March 2023  \
0    Table HC2.9  Structural and geographic charact...
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                            All homes
..                                                 ...
214                                    Some other fuel
215                              Hot tub used 0 months
216                                         No hot tub
217                                                NaN
218  Data source: U.S. Energy Information Administr...

                            Unnamed: 1                    Unnamed: 2  \
0                                  NaN                           NaN
1    Number of housing units (million)                           NaN
2                                  NaN  Size of home in square feetb
3                          Total U.S.a             Less \nthan 1,000
4                               123.53                         30.01
..                                 ...                           ...
214                               0.36                             Q
215                                2.6                          0.26
216                             114.69                         29.38
217                                NaN                           NaN
218                                NaN                           NaN

           Unnamed: 3         Unnamed: 4        Unnamed: 5        Unnamed: 6  \
0                 NaN                NaN               NaN               NaN
1                 NaN                NaN               NaN               NaN
2                 NaN                NaN               NaN               NaN
3    1,000 \nto 1,499  1,500 \nto 1,999   2,000 \nto 2,499  2,500 \nto 2,999
4               28.08              22.22             15.62             10.31
..                ...                ...               ...               ...
214                 Q               0.06                 Q                 Q
215              0.22               0.47              0.46              0.36
216             27.11               20.8             14.06              9.19
217               NaN                NaN               NaN               NaN
218               NaN                NaN               NaN               NaN

          Unnamed: 7
0                NaN
1                NaN
2                NaN
3    3,000 \nor more
4              17.29
..               ...
214             0.18
215             0.83
216            14.16
217              NaN
218              NaN

[219 rows x 8 columns]

In [9]:
from sklearn import linear_model
from sklearn.linear_model import Ridge
from sklearn.model_selection import train_test_split
reg = linear_model.Ridge(alpha=.5)
reg.fit([[0, 0], [0, 0], [1, 1]], [0, .1, 1])
reg.coef_
reg.intercept_

np.float64(0.13636363636363638)

In [ ]:

data = {'building_size': [1000, 1500, 2000, 1200, 1800],
        'other_feature': [5, 7, 9, 6, 8],
        'energy_consumption': [100, 140, 180, 115, 165]}
df = pd.DataFrame(data)

# Separate features (X) and target (y)
building_size = df['building_size']
energy_comsumption = df['energy_consumption']
X = df[['building_size', 'other_feature']]
y = df['energy_consumption']


ridge_model = Ridge(alpha=1.0)


reg_fit = ridge_model.fit(X, y)


new_data = pd.DataFrame({'building_size': [1600, 2200], 'other_feature': [7.5, 10]})
predictions = reg_fit.predict(new_data)
print(f"Predictions for new data: {predictions}")

Predictions for new data: [148.05557832 196.52778916]